* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(#fafcff, #e1e8fc);
    min-height: 100vh;
}

header {
    background-color: white;
    border-bottom: 1px solid #d4d7de;
    padding: 10px 0 10px 0;
}

.container-header {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    padding: 0 16px 0 16px;
}

.back-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #4b5563;
    cursor: pointer;
    font-size: 16px;
    padding: 7px;
}

.back-button:hover {
    color: #2563eb;
}

.container {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    padding: 0 16px 0 16px;
}

.main-container {
    padding: 30px 15px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.images {
    flex: 1; 
    min-width: 320px;
}


.main-image-container {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.main-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.images2-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.image2 {
    width: 100%;
    height: 80px;
    display: block;
    object-fit: cover;
}

.foto-button {
    flex: 1;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #e5e7eb; 
    cursor: pointer;
    transition: all 0.2s;
}

.foto-button:hover {
    border-color: #9da2a9;
}

.foto-button:focus {
    border-color: #2563eb;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}


.info-container {
    flex: 1; 
    min-width: 320px;
}

.product-card {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.price-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
}

.price {
    font-size: 35px;
    color: #2563eb;
}

/*    */
.actions {
    display: flex;
    gap: 0.5rem;
}

.favorite-checkbox {
    display: none;
}

.favorite-button {
    padding: 0.75rem;
    border-radius: 9999px;
    border: 1px solid #e5e7eb;
    background-color: #f9fafb;
    color: #4b5563;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-button:hover {
    background-color: #f3f4f6;
}

.favorite-checkbox:checked + .favorite-button {
    background-color: #fef2f2;
    border-color: #fecaca;
    color: #dc2626;
}

.heart-icon {
    transition: fill 0.2s;
}

.favorite-checkbox:checked + .favorite-button .heart-icon {
    fill: currentColor;
}

/*   */

.product-title {
    font-size: 25px;
    color: black;
    margin-bottom: 15px;
}

.info {
    display: flex;
    gap: 20px;
    margin: 0 auto 20px auto;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e5e7eb;
}

.item {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #4b5563;
    font-size: 0.875rem;
}

.description-container {
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.text {
    color: #4b5563;
    line-height: 24px;
}

.seller {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e7eb;
}

.seller-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.seller-name {
    color: black;
    font-size: 16px;
}

.contact-button {
    width: 100%;
    background-color: #2563eb;
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.contact-button:hover {
    background-color: #1d4ed8;
}

.contact-info {
    margin: 20px auto 20px auto;
    padding: 10px;
    background-color: #f4f9fc;
    border-radius: 10px;
    border: 1px solid #bfdbfe;
    display: none;
    justify-content: flex-start;
}

.phone-number {
    color: #1e40af;
    font-size: 16px;
    text-align: center;
}

.cansel-button {
    display: none;
    background-color: #f4f9fc;
    border: 1px solid #1d4ed8;
    color: #1e40af;
}

.cansel-button:hover {
    background-color: #eaeff1;
}
