* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(90deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.block {
    background: #f7f6f6;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    width: 90%;
    max-width: 550px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.logo {
    font-size: 32px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 40px;
}

h1 {
    text-align: center;
    color: #667eea;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.05);
}

.text1 {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 15px;
}

.inputs {
    width: 100%;
    padding: 13px 10px;
    border: 1px solid #bdc4cb;
    border-radius: 10px;
    font-size: 15px;
    background: #f7f6f6;
    margin-bottom: 20px;
}

.inputs:focus {
    transition: all 0.3s;
    outline: none;
    border-color: #667eea;
    background: white;
    box-shadow: 0 0 0 3px rgba(97, 123, 239, 0.1);
}

.checkbox {
    margin-right: 8px;
}

.checkbox-label {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 14px;
    background: linear-gradient(90deg, #667eea, #764ba2);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
    transform: translate(0, 2px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transition: all 0.3s;
}

.text2 {
    text-align: center;
    margin-top: 25px;
    color: #666
}

.text2 a {
    color: #667eea;
    font-weight: 700;
}

.hidden_input{
    display: none;
}

.custom_button{
    background:linear-gradient(90deg, #667eea, #764ba2);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.custom_button:hover{
    background-color:#667eea;
}

.warning_block{
    width: 100%;
    height: 10vh;
    background-color: #f67373;
    border: 2px solid red;
    font-family: "Roboto", serif;
    font-size: 18px;
    border-radius: 10px ;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom:10px ;
}
.warning_block.active{
    display: flex;
}

.required-label::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.input-invalid{
    border: red 1px solid;
}

