/*header*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}


header{
    padding: 10px 30px 10px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: 100px;
    align-items: center;
    border-bottom: 1px solid rgb(102, 97, 97);

}
.logo{
    align-items: center;
    display: flex;
    width: 20%;
}
.logo img {
    width: 100%;
    max-width: 70px;
    max-height:70px ;
}

.logo h1{
    margin-left: 10px;
    font-family: "Montserrat", serif;
}
.search_bar{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
}
.search_bar input{
    width: 80%;
    border-bottom-left-radius:20px ;
    border-top-left-radius:20px ;
    border: none;
    background-color: rgb(241, 239, 239);
    padding: 8px 20px;
    font-size: 16px;
}
h1{
    font-size: 2.8vw;
}
.favorites_button a {
    text-decoration: none;
    color: black;
    text-underline: none;
}
.user_buttons{
    width: 25%;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: end;
    font-size: 20px;
    transition: all 0.5s ease;
    
}
.user_avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;

}

.user_buttons button:first-child{
    display: none;
}

.user_buttons button{
    all: unset;
    cursor: pointer;
    padding: 5px;

}




.user_buttons button:hover{
    border-radius: 10px;
    background-color: rgba(141, 136, 136, 0.4);
}

.search_bar button{
    margin-left:1px;
    padding: 10px 10px;
    cursor: pointer;
    border-bottom-right-radius:5px ;
    border-top-right-radius:5px ;
    border:none;
    background: linear-gradient(to bottom left, #7eaefc, #2f66f1);
    transition: color 0.5s ease-in-out;
   
}

.search_bar button:hover{
    background: rgb(0, 145, 255);
}
.user_button.hidden{
    display: none;

}
.user_profile{
    border-radius:50px;
    display: none;
}


a.add_product_button{
    display: none;
    padding: 10px 15px;
    background-color: #7eaefc;
    border-radius: 10px;
    font-family: "Roboto", serif;
    color: black;
    text-decoration: none;
    transition:all .2s ease-in-out;
    font-weight: 500;

}
a.add_product_button.active{
    display: inline-block;
}

a.add_product_button:hover{
    background-color: #764ba2;
    color: white;
}

.user_profile.active{
    display: block;
}



@media screen and (max-width: 1130px) {
    a.add_product_button{
        font-size: 14px;
        padding: 8px 5px;


    }
}

@media screen and (max-width: 860px) {
    .search_bar{
        width: 50%;
    }
}

/*meadia-requests */
@media (max-width:1000px) {
    .logo h1{
        margin-left:2px;
    }

    header{
        padding:10px;
    }
}

@media (max-width:768px){

    a.add_product_button{
        font-size: 12px;
    }
    .search_bar{
        width: 40%;
    }
    .user_buttons{
        width: 30%;
    }
    
   
}
@media (max-width:590px) {
    a.add_product_button{
        padding: 5px;
        font-size: 16px;
    }
    .search_bar{
        display: none;
    }
    header{
        overflow: hidden;
        justify-content: space-between;
    }
    
    .user_buttons{
        width:50%;
        justify-content: end;
    }
    .user_buttons button:first-child{
         display: block;
    }
    .logo{
        width: 50%;
    }
    .logo h1{
      font-size: 6vw;
      margin-left: 10px;  
    }
    .logo img{
        width: 25%;
    }
    .user_avatar{
        width: 40px;
        height: 40px;
    }
}



/*categories section */
.categories{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    

}
.categories ul{
    width: 80%;
    justify-content: space-around;
    display: flex;
}
.categories ul li{
    cursor: pointer;
    font-size: 1.15vw;
    text-transform: capitalize;
    text-decoration: none;
    list-style-type: none;
    transition: all .5s ease;
    font-weight: 400;
}
.categories ul li:hover{
    text-decoration: underline;
}

/* media queries */
@media screen and (max-width:950px) {
    .categories ul li{
        font-size: 1.90vw;
    }
}

@media screen and (max-width:490px){
    .categories{
        display: none;
    }
}

/* event section */
.event_section{
    position: relative;
    width: 100%;
    height: 50vh;

    background-size: 100% 100%;

}
.event_section::after{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(0,102,255,0.8) 0%, rgba(163,58,255,0.8) 100%);; 
  z-index: 1;
}
.event_information{
    gap: 8px;
    flex-direction: column;
    padding: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    color: white;
    position: absolute;
    z-index: 2;
}
.event_information h1{
    font-size: 3vw;
    margin-bottom: 10px;
}
.event_information h5{
    font-size: 1.2vw;
}
.event_information button{
    margin-top: 10px;
    padding: 10px 30px;    
    border: none;
    border-radius: 10px;
    align-self: self-start;
    cursor: pointer;
    background-color: white;
    transition: all .2s ease;
}

.event_information button:hover{
    background-color: rgb(12, 161, 211);
    color: white;
}
/*meadia queries*/
@media screen and (max-width:1100px)  {
    .event_information h1{
        font-size: 5vw;
    }
    .event_information h5{
        font-size: 3vw;
    }
}

@media screen and (max-width:850px){
    .event_information {
        align-items: center;
    }
     .event_information h1{
        font-size: 10vw;
    }
    .event_information h5{
        font-size: 4vw;
    }
    .event_information button{
        align-self: center;
    }
}
@media  screen and (max-height:480px) {
    .event_section{
        height: 80vh;
    }
}

/*categories with images*/
.photos_categories{
    width: 100%;
    padding: 40px 60px;
}

.photos_categories h2{
    margin-bottom: 40px;
    font-size: 1.6vw;
}
.categories_inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 0;
}
.photos_categories img{
    width: 100%;
    height: 20vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.categorie_photo_item{
    width: 15%;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.categorie_photo_item:hover{
    transform: scale(1.05);
}

.categories_information{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom:1px solid rgba(94, 90, 90, 0.31);
    border-left:1px solid rgba(94, 90, 90, 0.31);;
    border-right:1px solid rgba(94, 90, 90, 0.31);
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;


}
.categorie_name{
    
    margin-bottom: 10px;
    font-size: 1.5vw;
}

/*media queries*/
@media screen and (max-width:950px){
    .photos_categories{
        padding-left: 10px;
        padding-right: 10px;
    }
    .categorie_photo_item{
        width: 20%;
        margin-right: 20px;
        margin-top: 20px;
    }
     .photos_categories h2{
        font-size: 4vw;
    }
    
} 
@media screen and (max-width:760px){
    .photos_categories h2{
        font-size: 4vw;
    }
    .categorie_name{
        font-size: 3vw;
    }
    .categorie_photo_item{
        width: 30%;
    }
    .categories_inner{
        justify-content: flex-start;
        padding-left: 20px;
        
    }
    
}
@media screen and (max-width:640px) {
    .categorie_photo_item{
        width: 45%;
    }
    .categories_inner{
        justify-content: center;
        padding: 0;
    }

    
}
@media screen and (max-width:450px){
    .photos_categories{
        padding-left: 5px;
        padding-right: 5px;
    }
    .photos_categories h2{
        text-align: center;
        font-size: 7vw;
    }
    .categories_inner{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .categorie_photo_item{
        width: 70%;
    }
@media screen and (max-width:380px){
    .categorie_name{
        font-size: 4.5vw;
    }
}


}

@media  screen and (max-height:480px) {
    .photos_categories img{
        height: 30vh;
    }
}
@media  screen and (min-height:1080px) {
    .photos_categories img{
        height: 10vh;
    }
}

.ad_listing{
    width: 100%;
}

/*ad listing */
.ad_listing{
    padding: 20px 50px;
}

.ad_listing h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.ad_item{
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: 20%;
    overflow: hidden;
}
.ad_item:hover{
    transform: scale(1.02);
}
.ad_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.img_container{
    width: 100%;
    height:180px;
    background-color: black;
    overflow: hidden;

}
.ad_information{
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
    position: relative;
    padding: 20px 7px;
    font-family: "Roboto", serif;
    border-bottom:1px solid rgba(94, 90, 90, 0.31);
    border-left:1px solid rgba(94, 90, 90, 0.31);;
    border-right:1px solid rgba(94, 90, 90, 0.31);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-overflow: ellipsis;
    
    
    
   
    
}
.ad_name{
    max-width: 10vw;
    width: 100%;
    font-size: 1.07vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
    
}
.ad_price{
    color: rgb(9, 155, 165);
    font-weight: 600;
    font-size: 1.2vw;
}
.ad_state{
    position: absolute;
    right:1vw; 
    color: white;
    padding: 5px;
    background: gray;
    border-radius: 10px;
    font-weight: 500;

}
.ad_listing_inner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
}
@media screen and (max-width:1065px){
    .ad_listing_inner{
        gap: 1rem;
    }
}
@media screen and (max-width: 1200px){
    .img_container{
        height: 150px;
    }
}
@media screen and (max-width:950px){
    .ad_name{
        font-size: 1.7vw;
    }
    .ad_price{
        font-size: 1.5vw;
    }
    .ad_state{
        font-size: 1.3vw;
        padding: 4px;
    }
    .ad_listing{
        padding:10px;
    }
    .img_container{
        height: 130px;
    }
}
@media screen and (max-width:769px){
    .ad_item{
        width: 30%;
    }
    
    
}
@media screen and (max-width:769px){
    .ad_listing_inner{
        gap: 1rem;
        justify-content: unset;
    }
    .ad_item{
        width: 30%;
    }
    .ad_state{
        font-size: 1.6vw;
    }
    .ad_author{
        font-size: 2vw;
    }
      .ad_name{
        font-size: 2vw;
        max-width: 15vw;
    }
    .ad_price{
        font-size: 2vw;
    }
}
@media screen and (max-width:540px){
     .ad_name{
        font-size: 2.5vw;
    }
    .ad_price{
        font-size: 2.7vw;
    }
    .ad_item{
        width: 45%;
    }
    .ad_state{
        font-size: 2.4vw;
    }
    .ad_author{
        font-size: 2.4vw;
    }
    .ad_listing h2{
        font-size: 28px;
        text-align: center;
    }
    .img_container{
        height: 120px;
    }
}

@media screen and (max-width:430px){
    .ad_name{
        font-size: 2.6vw;
    }
    .ad_information{
        padding: 10px;
    }
    .img_container{
        height: 80px;
    }
}

/*footer*/
footer{
    width: 100%;
    min-height: 20vh;
    background-color: #111827;
    color: white;
    font-family: "Roboto", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 20px 0;
}

footer h3{
    font-size: 24px;
}

/*media queries for footer*/
@media screen and (max-width:850px){
    footer{
    min-height: 10vh;
}
}

@media screen and (max-width:400px){
    footer{
        min-height: 5vh;
        padding: 10px 0;
    }
    footer h3{
        font-size: 18px;
    }
    footer span{
        font-size: 14px;
    }
}

/*mobile search bar*/
.mobile_search_bar_block{
    position: fixed;
    overflow-y: hidden;
    display: block;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgb(71, 69, 69);
    padding: 10px;
    transition: all .5s ease-in-out;
   
    
    
}
.mobile_search_bar_block.active{
    top: 0;
}


.mobile_search_bar{
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 15px 20px;
   align-items: center;
   
}
.mobile_search_bar input{
    width: 85%;
    padding: 8px 25px;
    border-bottom-left-radius:10px ;
    border: none;
    border-top-left-radius:10px ;
    margin-left: 5px;
}
.mobile_search_bar input:focus{
    border: blue 2px solid;
    outline: none;
}
.mobile_search_bar button{
    width: 8%;
    cursor: pointer;
    border: none;
    padding: 8px 0;
    border-bottom-right-radius:10px ;
    border-top-right-radius:10px ;
}
.mobile_search_bar .cancel_button{
    color: white;
    font-family: "Roboto", serif;
    cursor: pointer;
    font-size: 20px;
}
.mobile_search_bar .cancel_button:focus{
    color: rgba(255, 255, 255, 0.24);
}
@media (max-width:375px){
    .mobile_search_bar_block{
        padding: 0;
    }
    .mobile_search_bar{
        padding: 15px 5px;
    }
    .mobile_search_bar .cancel_button{
        font-size: 18px;
    }
    .mobile_search_bar input{
        width: 65%;
        padding: 4px 10px;
    }
    .mobile_search_bar button{
        width: 12%;
        padding: 4px 0;
    }
}

/*user menu bar */
.user_menu{
    transition: all .3s ease-in-out;
    transform: scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.user_menu.active{
    transform: scale(1);
}

.user_menu_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    height: 40vh;
    background-color: white;
    overflow: hidden;
    border-radius: 40px;


}

.user_menu_container a{
    width: 200px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    background-color: #2f66f1;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    transition: all .3s ease-in-out;

}

.user_menu_container a:hover,
.user_menu_container a:focus{
    color: black;
    transform: scale(1.05);
    background-color: #6994f3;

}
.user_menu_container i:focus,
.user_menu_container i:hover{
    transform: scale(1.1);
}

.user_menu_container i{
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: absolute;
    font-size: 24px;
    top: 5%;
    right: 5%;
    color: black;
}

@media screen and (max-width: 520px){
    .user_menu_container{
        width: 80%;
        height: 30vh;
    }

    .user_menu_container a {
        width: 250px;
        font-size: 20px;
    }

    .user_menu_container i {
        top:10%;
        right: 10%;
        font-size: 18px;
    }
}

@media screen and (max-width:420px){
    .user_menu_container a{
        width: 200px;
    }
    .user_menu_container i {
        top:10%;
        right: 5%;
        font-size: 18px;
    }
}
@media screen and (max-height: 1580px) {
    .user_menu_container{
        height: 20vh;
    }
}

@media screen and (max-height: 600px) {
    .user_menu_container{
        height: 50vh;

    }

}
@media screen and (max-height: 450px) {
    .user_menu_container{
        height: 50vh;

    }

}









